@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap:100,200,300,400,500,600,700');


body {
    background-color: white;
}

.bg-col-main {
    background-color: grey;
}

.font-main {
    font-family: "ubuntu", sans-serif;
}


/*---------header-logo--------*/

.logo {
background-position: right;
background-repeat: no-repeat;
background-size: cover;
min-height: 50px;
transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
}

/*-----nav bar from bootstrap -----*/

.navbar {
    font-family: "ubuntu", sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 0px;
}

/*-------end of header---------*/

/*-------section 1 - all pages---------*/
/*------company-name---------*/

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: rgb(38, 189, 194);
    text-align: center;
    padding: 10px;
}

/*--------company-philosophy--------*/

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color:rgb(38, 189, 194);
    text-align: center;
    padding: 5px;
}


#paragraph-size-specific {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: italic;
    color: rgb(38, 189, 194);
    text-align: center;
    padding: 5px;
    margin-bottom: 20px
}

/*------end of section 1 - all pages--------*/

/*------section 2 - all pages - company images x3--------*/

 

/*------end of section 2 - all pages - images x3----*/

/*---section 3 - home page - about us----*/
/*----note: h2 header will be used for sub headings------- */

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: rgb(38, 189, 194);
    text-align: left;
    padding: 20px;
    margin-left: 30px;
}

#about-us-paragraph {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px
}


/*------section 3 home page - testimonials------*/

#testimonials {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 5px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
}

/*-----end of section 3 home page-----*/

/*-----footer-------*/
/*- ---section 4 - 3 column contact footer-----*/

 .column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.fab-fa-facebook-square {
font-size: 50px;
}


/*----copyright footer-----*/

footer {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
    padding: 10px;
    margin-left: 30px;
}

/*------end of footer------*/

/*------section 3 - our services page - bio write up-----*/

#bio {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: right;
    padding: 100px;
    margin-left: 30px;
}

/*------end of section 3 - our services page - bio write up-----*/

/*------section 4 - our services page - our services------*/

#services {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
}


/*-----end of section 4 - our services page - our services-------*/