@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap:100,200,300,400,500,600,700');

/*-----------------------colors----------------*/

.bg-color-navbar {
background-color: #ffe499;
}

body {
    background-color: #a3a375;
}

/*-----------------------header----------------*/

header {
margin: 50px;
}

.heading {
margin-left: 50px;

}

.logo {
background: url("../assets/images/studiofettle-logo.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 360px;
transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
}



.navbar {
    font-family: "ubuntu", sans-serif;
    font-weight: 100px;
    font-size: 46px;
    margin-top: 100px;
    color: #fff;
    
}

/*company name */
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: grey;
    text-align: right;
    padding: 30px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: grey;
    text-align: left;
    padding: 30px;
}


/* copyright footer */

footer {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
    padding: 10px;
}