@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap:100,200,300,400,500,600,700');

/*-----------------------colors----------------*/

body {
    background-color: #a3a375;
}

.bg-color-navbar {
    background-color: #ffe499;
}


.ui-menu-color-home {
    background-color: #7035b4;
}

.ui-menu-color-meet-the-team {
    background-color: #4835b4;
}

.ui-menu-color-contact-us {
    background-color: #35b45b;
}

/*-----------------------header----------------*/

header {
margin: 50px;
}

.heading {
margin-left: 50px;
}

.logo {
background: url("../assets/images/studiofettle-logo.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 360px;
transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
}



.navbar {
    font-family: "ubuntu", sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 15px;
}

/*company name */

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: grey;
    text-align: center;
    padding: 30px;
}

/*company philosophy */
h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: grey;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
}

p, h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: grey;
    text-align: center;
    padding: 10px;
}

/*section - images x3  */
 .column {
float: left;
width: 33.33%;
padding: 5px;
 }

/*section title - About us  */

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: grey;
    text-align: left;
    padding: 30px;
}


/* copyright footer */

footer {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
    padding: 10px;
}